
body{
  margin: 0;
  padding: 0;
  background: #f7f7ef;
  font-family: 'Calligraph', arial;

}
  @import url(http://allfont.ru/allfont.css?fonts=calligraph);
.wrapper{
  width: 60%;
  /* background: yellow; */
  margin: 0 auto;
  border-radius: 10px;
  background: white;
}

header{
  margin-top: 50px;
display: flex;
justify-content: space-between;
width: 100%;
margin-bottom: 70px;
}
.box_header_left{

  display: flex;
  flex-direction: column;
text-align: center;
  /* background: grey; */
  padding: 30px;
  /* width: 50%; */
}
.box_header_right{
/* background: red; */
width: 50%;
padding: 10px;
}
.box_right_top{
display: flex;
flex-direction: row;
/* width: 0%; */
/* background: green; */
justify-content: space-between;

}
.top1{
  padding-left: 6%;
}
.top1 span {
font-size: 35px;
font-style:italic;
/* font-variant: small-caps; */
}
.box_right_bottom{
  width: 100%;
/* background: pink; */
text-align: right;
font-size: 25px;
padding-top: 30px;
margin-right: 20px;
}
.box_right_bottom span{
margin-right: 40px;
}

.box_header_left a{
display: block;
}

.top2_line{
  border-bottom: 2px solid black;
  /* background: blue; */
  width: 70%;
  margin-right: 7%;

  /* padding-right: 10%; */
  /* margin-right: 10%; */
}
.box_main{
position: relative;
/* background: gray; */
min-height: 700px;
margin-bottom: 15%;

}
/* .box_main input{
  position: absolute;
  width: 100%;
  height:auto;
  background: none;
} */
.b1{
  /* background: green; */
  height: 17px;
    border-bottom:  1px solid gray;
}
a{
  text-decoration: none;
  font-size: 35px;
}
.b2{

  height: 26px;
  border-bottom:  1px solid gray;
}
.b3,.b4,.b5,.b6,.b7,.b8{
  position: absolute;
min-width:40% ;
min-height: 700px;
background: gray;
clip-path: polygon(38% 0, 20% 47%, 0 100%, 0% 100%);
border: 1px solid gray;
border-left:1px solid gray;
}
.b11{
  height: 15px;
}





.b4{
  margin-left: 15%;
}
.b5{
  margin-left: 30%;
}
.b6{
  margin-left: 45%;
}
.b7{
  margin-left: 60%;
}
 .b8{
  margin-left: 75%;
}
.b9{
  margin-left:90%;
  position: absolute;
min-width:40% ;
/* top:28.5%; */
min-height: 700px;
background: gray;
/* clip-path: polygon(38% 0, 20% 47%, 0 100%, 0% 100%); */

clip-path: polygon(25% 33%, 20% 47%, 0 100%, 0% 100%);
border: 1px solid gray;
border-left:1px solid gray;
}

.b10{

  margin-left:95%;
  position: absolute;
width:2px ;
min-height: 695px;

background: red;

border: 0.8px solid red;
margin-bottom: 8px;
}
